html {
  font-size:15px;
}
  
body {
  font-family: sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: rgb(3, 0, 0);
  margin: 0;
  background: linear-gradient(
    45deg,
    #409292,
    #cf7fc5,
    gray,
    gray,
    black
  );
}


@media (min-width: 501px){
  .container{
    display: grid;
    /* background-color: bisque; */
    grid-template-columns: 30% 30% 30% ;
    grid-template-rows: repeat (5,auto );
    grid-column-gap: 5%; 
    justify-content: center;
    /* height: auto; */
    margin: 10% 10%;
    align-items: center;
  }
  
.para-even{
  text-align: right;
  margin-right: 5%;
  /* background-image: linear-gradient(45deg,rgb(233, 210, 133),white); */
  /* background-color: gray;
  border-radius: 2%; */
}
.para-odd{
  text-align: left;
  margin-left: 5%;
  /* background-color:gray;
  border-radius: 2%; */
}
.cap-even{
  text-align: left;
  font-size: 17px;
  font-style: italic;
}
.cap-odd{
  text-align-last: right;
  font-size: 17px;
  font-style: italic;
}
.itachi-rain-cap{
  font-size: 0.5em;
}
.title-description{
  margin-bottom: 2em;
}
}



@media (max-width: 500px){
  h1 {
    font-size: 3.5rem !important;
    line-height: 1.2;
  }
  body{
    font-size: 0.5em;
  }
  #image{
    width: 100%;
  }
  img{
    max-width: 70%;
  }
  .profile{
    display:grid;
    grid-template-columns: 80px 220px;
  }
  .itachi{
    
    height: 60px;
    width: 60px;
    object-fit: contain;
  }
  p{
    margin-bottom: 18%;
  }
  .img{
    object-fit: cover;
  }
  p{
    font-size: 1.4em;
    text-align: left !important;
  }
  .para-even{
    text-align: right;
    margin-right: 10%;
    margin-left: 10%;
  }
  .para-odd{
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
  }
  .cap-even{
    text-align: left;
    font-size: 10px;
    font-style: italic;
  }
  .cap-odd{
    text-align-last: right;
    font-size: 10px;
    font-style: italic;
  }
  h3{
    font-size: 300%;
  }
  .itachi-rain-cap{
    font-size: 1.2em;
  }
  .title-description{
    font-size: 2em;
  }
  #headline{
    font-size: 2.5em !important;
  }
}

h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

h2 {
  font-size: 3.25rem;
}

p{
  text-align:justify;
  color: rgb(54, 54, 54);
}
#image{
  width:80%;
}
#img-caption{
  text-align:right;
  margin-right:15%;
}
#headline{
  margin: 10% 20px;
  font-size: 2em;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  border-radius: 5%;
}

#img-div {
  /* background: white; */
  padding: 10px;
  margin: 0;
}


#title{
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  color: white;
  font-style:unset;
  font-size: 3em;
  margin-top: 1.5em;
}
.title-description{
  font-style: unset;
  color: rgba(223, 144, 226, 0.63);
  text-align:center;
}

a {
  color: rgb(109, 29, 141);
  text-decoration:none;
  font-style: italic;
}

a:visited {
  color: #000;
}
blockquote {
  font-style: italic;
  max-width: 80%;
  margin-left: 2%;
  text-align: left;
}
footer{
  background-color: #333;
  color: azure;
  /* margin: 2% 2%; */
}

.itachi{
  width:8em;
  height:10em;
  object-fit: cover;
  border-radius: 50%;
  /* text-align: right; */
}
.profile{
  display: flex;
  width: auto;
  margin: 5% 5% 7% 10%;
  
  /* align-items: center; */
}

.itachi-rain{
  width:220px;
  height: 300px;
  object-fit: cover;
}

h5{
  font-size: 1.2em;
}

.itachi-rain-cap{
  margin-right: 20%;
}