html {
  font-size:15px;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: rgb(3, 0, 0);
  margin: 0;
  background: linear-gradient(
    45deg,
    #409292,
    #cf7fc5,
    gray,
    gray,
    black
  );
}

/*-----------headings and text-----------*/
h1 {
  font-size: 10vw;
  margin-bottom: 0;
  color: white;
  font-style:unset;
  margin-top: 1.5vh;
}
h3{
  font-size: 4vw;
  margin-left: 5vw;
  text-align: left;
}
h5{
  font-size: 2.5vw;
  margin: 0;
  text-align: left;
}
p{
  text-align:justify;
  color: rgb(54, 54, 54);
  padding:10px 20px;
  font-size: 3vw;
}
a {
  color: black;
  text-decoration:none;
  font-style: italic;
}
header>p{
  font-style: unset;
  color: rgba(223, 144, 226, 0.63);
  text-align:right;
  font-size: 3vw;
  margin: 5px auto 8vh auto;
}
#headline{
  font-size: 5vw;
  text-align: center;
  margin: 10vh auto 0 auto;
}
blockquote>p{
  text-align: right;
  font-size: 2.5vw;
}

/*-------------images and captions-------------*/
img {
  width: 100%;
  max-width: 400px;
  display: block;
  height: auto;
  margin: 0 auto;
  border-radius: 15px;
}
figcaption{
  font-size: 2vw;
}
#img-div, #img-div>img{
  margin: 0;
  border-radius: 0px;
  max-width: 100%;
}
#img-caption{
  color: azure;
  font-size: 2vw;
  text-align: right;
  padding-right: 10%;
}
.profile>img{
  width:6em;
  height:8em;
  object-fit: cover;
  border-radius: 50%;
  margin: auto;
}
.itachi-rain{
  width:220px;
  height: 300px;
  object-fit: cover;
}
/*----------------------------------------*/

main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}
.container{
  max-width: 1100px;
  margin: 50px auto;
}
.container>div{
  margin: 80px auto;
}
.profile{
  display: flex;
  width: 80%;
  margin: 0 auto 80px auto;
  max-width: 1100px;
}
blockquote{
  margin:2% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
hr{
  display: block;
  width: 100px;
  border: 10px rgba(0, 0, 0);
  border-style:  dotted hidden hidden hidden;
  content: none;
}
footer{
  background-color: #333;
  color: azure;
  font-size: 3vw;
  padding: 20px;
}

/*--------------media queries--------------*/
@media screen and (min-width: 800px) {
  h1{
    font-size: 4rem;
  }
  h2, #headline{
    font-size: 3rem;
  }
  h3, h5, blockquote>p, header>p{
    font-size: 2rem;
    margin-left: 20px;
  }
  p, footer{
    font-size: 1rem;
  }
  figcaption{
    font-size: 0.7rem;
  }
  .r0>.c0, .r2>.c0, .r4>.c0{
    float: right;
  }
  .r1>.c0, .r3>.c0, .r5>.c0{
    float: left;
  }
  .container>div, .profile, hr{
    clear: both;
  }
  #img-div>img{
    margin: auto;
    border-radius: 20px;
    max-width: 800px;
  }
  header{
    width:  80%;
    margin: auto;
  }
  #img-caption{
    padding-right: 20%;
  }
  .profile{
    margin-top: 150px;
  }
}